{{page-title "TaskManager"}}

<div class="bg-gray-100 p-4">
  <h1 class="text-4xl font-bold mb-4">Welcome to TaskManager</h1>
  <p class="text-gray-800 text-lg">This is a sample application built with Ember.js and Tailwind CSS.</p>
</div>

{{outlet}}
